/* src/index.css */
:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}